body {

    background-color:  #87e963;
    font-family: 'Josefin Slab', serif;

}

p {

    font-size: 140%;
    
}

#headerr {

    font-size: 300%;
    font-weight: bold;

}

#wrapper {

    text-align: center;
    display: inline block;

}

#todoInput {

    width: 45%;
    height: 30px;

}

#input {

    margin-top: 40px;
    z-index: 0;

}

#pencilIcon {

    position: relative;
    background-color:  #6af2db ;
    height: 41px;
    width: 41px;
    z-index: 1;
    top: 20px;
    margin-left: 5px;
    opacity: 0.6;
    border: 3px solid grey;
    border-radius: 10%;

}

::placeholder {
    font-size: 120%;
    color:   #ad78ed ;
  }

#todoBox {

    width: 35em;
    height: 40px;
    margin: 1.8em auto;
    font-family: 'Mansalva', cursive;
    z-index: -1;
    background-color: #dccaf5;
    opacity: .8;
    font-size: 110%;
    border: 3px solid grey;
    border-radius: 5%;
    margin-left: 16em;
    font-size: 120%;
    text-align: left;
    vertical-align: middle;
    line-height: 40px;
    color: black;

}  

#todo {

    z-index = 2;

}

#todoText {

    font-size: 130%;

}

#imageR {

    width: 40px;
    height: 51.6px;
    position: relative;
    left: 2.3em;
    bottom: .24em;
    float: right;

}

#loading

{position:fixed;
    top:50%;
    left:50%;
    z-index:1104;}

